<h1><%= @place["name"]%> </h1>

<ul>
  <li><%= @entry["title"] %></li>
  <li><%= @entry["description"] %></li>
  <li><%= @entry["occurred_on"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>/entries">Back to <%= @place["name"] %> Entries</a></p>